{% extends 'teachers/dashboard.html' %}

{% block content %}
<h2>Student Submissions for {{ lesson.title }}</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Files Submitted</th>
            <th>Grade</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for homework in homeworks %}
        <tr>
            <td>{{ homework.student.user.first_name }} {{ homework.student.user.last_name }}</td>
            <td>
              <ul>
                  <td>
                    <a href="{% url 'teachers:zip_homework_files' homework.student.id %}" class="btn btn-success">Download All Files as Zip</a>
                  </td>
              </ul>
    
          
            </td>
            <td>{{ homework.grade|default:"Not graded yet" }}</td>
            <td>
                <a href="#" class="btn btn-primary">Review & Grade</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
